.App{
    background-color: black;
    position:absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    color: white;
  
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 300;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  }

  #Canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #Banner{
    font-size: 5vw;
    position: absolute;
    right: 6vw;
    top: 6vh;
  }
  
#Guide{
  font-size: 5vh;
  display: flex;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 50vh;
  margin-bottom: 50vh;
    /* border: 1px solid white; */
    color: black;
    /* color: #0a0a0a; */
height: 0;
transition: 1s;
}

  #Links{
    position: absolute;
    top: 25vh;
    right: 6vw;
    height: 60vh;
    width: 1vw;
    /* border: 1px solid chartreuse; */
  }
  
  .Link {
    position: relative;
    /* display: inline-block; */
    /* text-align: right; */
    float: right;
    font-size: 8vh;
    margin-bottom: 10px;
    cursor: pointer;
    /* border: solid 1px white; */
    /* width: 100%; */
    /* height: 160px; */
    /* margin-bottom: 20px; */
  }

  .Clickable:hover{
    text-decoration: underline;
  }
  
  a:link {
    text-decoration: none;
    color: white;
  }
 
  a:visited{
    color: white;
  }

  #Reset{
    position: absolute;
    cursor: pointer;
    /* border: solid white 1px; */
    font-size: 5vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 5vh;
    bottom: 3vh;
    left: 3vh;
  }