/* #debug {
  display: none;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;

  color: black;
  font-size: 30px;
} */

body {
  overflow: hidden;
  margin: 0;
}

#liveIcon.hidden {
  display: none;
}

.frame {
  position: absolute;
  z-index: 1;

  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#poster {
  object-fit: cover;
  min-height: 100vh;
  min-width: 100vw;

  opacity: 1;
  transition: opacity 2s;
}

#surfcam {
  position: absolute;
}

#container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

#idcard {
  margin: 20px;
  border-radius: 2vh;

  display: flex;
  flex-direction: row;
  align-items: center;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#streamTag {
  margin: 20px;
  padding: 7px 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;

  text-shadow: 0px 2px 4px #39393954;

  position: absolute;
  top: 0;
  /* right: 0; */

  background: rgba(255, 255, 255, 0.2);
  border-radius: 11px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#liveIcon {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;

  margin-right: 9px;

  font-size: 12px;
  padding: 2px 5px 2px 1px;

  border-radius: 4px;

  background-color: #146abb;
  display: inline;
  /* height: 10px;
  width: 10px; */

  display: flex;
  flex-direction: row;
  align-items: center;
}

#liveDot {
  margin: 0px 3px 0px 3px;
  display: inline-block;
  height: 5px;
  width: 5px;

  background-color: white;
  border-radius: 100%;

  animation: fadeIn 0.75s infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

#headshot {
  height: 80px;
  width: 80px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(255, 255, 255, 0.305);

  overflow: hidden;
  border-radius: 10%;

  box-shadow: 0px 2px 8px #39393968;
}

#headshot img {
  height: 100%;
}

#nameandicons {
  height: 0%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;

  text-shadow: 0px 2px 4px #39393954;

  font-size: 30px;

  margin-top: -5px;
  margin-bottom: 9px;

  text-align: center;
}

#icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 30px;
  width: 30px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20%;

  /* background-color: #363636; */
  background-color: #146abb;

  transition: transform 100ms ease-in-out;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  box-shadow: 0px 2px 6px #39393940;
}

.icon:hover {
  transform: scale(1.1);
}

.icon a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.icon img {
  filter: invert(98%) sepia(1%) saturate(58%) hue-rotate(260deg)
    brightness(117%) contrast(100%);
}

#github img {
  height: 70%;
}

#linkedin img {
  height: 58%;
}

#email img {
  height: 65%;
}
